workflows/modular/WF-0-Manager.json
{
  "name": "WF-0 Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "path": "e0083a23-8db3-4b38-8039-d76e4ad9d519",
        "formTitle": "WPI Book Generator",
        "formDescription": "AI-gestützte Erstellung von Fachbüchern basierend auf Syllabus-Domains. Jede Domain wird zu einem Kapitel.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Syllabus",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "WPI Web Development Professional (WPI-WEB-DEV-2025)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Generation Strategy",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "By Domain"
                  },
                  {
                    "option": "By Topic"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Absolute Beginners"
                  },
                  {
                    "option": "Junior Developers"
                  },
                  {
                    "option": "Mid-Level Professionals"
                  },
                  {
                    "option": "Senior Experts"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "47cd121f-2185-41bb-93f5-4092c78b25c3",
      "name": "📥 Book Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -6992,
        384
      ],
      "webhookId": "e0083a23-8db3-4b38-8039-d76e4ad9d519"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (function() {\n  const formData = $('📥 Book Request Form').first().json;\n  const syllabusSelection = formData['Syllabus'] || '';\n  \n  // Parse syllabus ID from format: 'Name (syllabus-xxxxx)'\n  // Example: 'WPI Web Development (syllabus-1738051200123)'\n  const match = syllabusSelection.match(/\\(([^)]+)\\)/);\n  const syllabusId = match ? match[1] : null;\n  \n  if (!syllabusId) {\n    throw new Error('Invalid syllabus selection. Expected format: Name (syllabus-id)');\n  }\n  \n  const strategy = formData['Generation Strategy'] || 'By Domain';\n  \n  return {\n    syllabus_id: syllabusId,\n    syllabus_name: syllabusSelection.split('(')[0].trim(),\n    generation_strategy: strategy,\n    target_audience: formData['Target Audience'] || 'Mid-Level Professionals'\n  };\n})() }}",
        "options": {}
      },
      "id": "92794d0d-3879-4017-931d-76dcf29b7693",
      "name": "🔍 Extract Syllabus ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6768,
        384
      ],
      "notes": "Parses syllabus ID from the form dropdown selection"
    },
    {
      "parameters": {
        "jsCode": "// Initialize workflow state using static data\nconst staticData = $getWorkflowStaticData('global');\nstaticData.global_history = '';\nstaticData.chapters_completed = [];\nstaticData.revision_counts = {};\n\nconst formData = $('🔍 Extract Syllabus ID').first().json;\nreturn [{\n  json: {\n    job_id: $execution.id,\n    syllabus_id: formData.syllabus_id,\n    syllabus_name: formData.syllabus_name,\n    generation_strategy: formData.generation_strategy,\n    target_audience: formData.target_audience,\n    global_history: '',\n    status: 'init'\n  }\n}];"
      },
      "id": "93739a32-c425-4bd0-87f8-66b1214d3a90",
      "name": "🔧 Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6544,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.job_id }}\",\n  \"syllabus_name\": \"{{ $json.syllabus_name }}\",\n  \"strategy\": \"{{ $json.generation_strategy }}\",\n  \"target_audience\": \"{{ $json.target_audience }}\",\n  \"status\": \"running\",\n  \"started_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "17fcc74e-48e4-4fce-a032-c713704ebce8",
      "name": "📋 Register Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6320,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-1-Blueprint\" }",
        "options": {}
      },
      "id": "59184cb1-fcc4-4493-9b1c-4628c1480ce5",
      "name": "📊 Report: WF-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6096,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "G8l-tvukXKbg3TtTjucgh",
          "mode": "list",
          "cachedResultUrl": "/workflow/G8l-tvukXKbg3TtTjucgh",
          "cachedResultName": "WF-1 Blueprint Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "4d6cd102-0653-4f94-968e-b2bacb4da5e2",
      "name": "🏗️ Call WF-1 Blueprint",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -5872,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-1-Blueprint\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "1fa6fe7b-4daa-4983-bc7c-1a99563bbe2f",
      "name": "📝 Log: WF-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5648,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract chapters from blueprint output and prepare for loop\nconst blueprint = $('🏗️ Call WF-1 Blueprint').first().json;\nconst chapters = blueprint.blueprint?.chapters || blueprint.chapters || [];\nconst state = $('🔧 Initialize State').first().json;\n\nreturn chapters.map((ch, idx) => ({\n  json: {\n    chapter_id: ch.id || ch.chapter_id || 'ch-' + (idx + 1),\n    title: ch.title || 'Chapter ' + (idx + 1),\n    learning_objectives: ch.learning_objectives || ch.sections || [],\n    domain_id: ch.domain_id || ch.id || 'D' + (idx + 1),\n    chapter_index: idx,\n    job_id: state.job_id,\n    syllabus_id: state.syllabus_id,\n    target_audience: state.target_audience\n  }\n}));"
      },
      "id": "b5d9cc65-51dc-4c22-88f7-5a2c99a49bd1",
      "name": "📑 Prepare Chapter List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5424,
        384
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"total_chapters\": {{ $input.all().length }} }",
        "options": {}
      },
      "id": "c4a5f555-e069-483d-ade7-7de118df2a1c",
      "name": "📊 Update Total Chapters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5200,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b505061f-a3ed-4ff0-b52a-da5832cd402f",
      "name": "🔁 Chapter Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4976,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Inject current global_history from static data into chapter data\nconst staticData = $getWorkflowStaticData('global');\nconst chapter = $input.first().json;\nreturn [{\n  json: {\n    ...chapter,\n    global_history: staticData.global_history || ''\n  }\n}];"
      },
      "id": "3f4e8048-6407-468b-8d98-eb5ce682f95e",
      "name": "📖 Inject Global History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4752,
        384
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-2-Research\" }",
        "options": {}
      },
      "id": "d73a7255-7037-4104-8f13-b3f362fab1dd",
      "name": "📊 Report: WF-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4528,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VWL-HAciYrsv6RHQsPPp3",
          "mode": "list",
          "cachedResultUrl": "/workflow/VWL-HAciYrsv6RHQsPPp3",
          "cachedResultName": "WF-2 Research Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "97ff2dac-89e1-4e48-ad1f-822c6540fa59",
      "name": "🔍 Call WF-2 Research",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4304,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-2-Research\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "75b8d500-a664-45a6-b39d-cce619a3a575",
      "name": "📝 Log: WF-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4080,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-3-ChapterBuilder\" }",
        "options": {}
      },
      "id": "0d5c54d0-9656-4a66-84c2-1d28ff9e96cf",
      "name": "📊 Report: WF-3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VzCZtw9u2OcflwWXm572X",
          "mode": "list",
          "cachedResultUrl": "/workflow/VzCZtw9u2OcflwWXm572X",
          "cachedResultName": "WF-3 Chapter Builder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "2754bfb1-389e-40e8-b90a-7d410f38be08",
      "name": "✍️ Call WF-3 Chapter Builder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3632,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-3-ChapterBuilder\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "fb8eafbd-2f65-48ad-a13e-59f56f9b497c",
      "name": "📝 Log: WF-3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3408,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: { ...result, has_code: !!(result.has_code_requests && result.code_requests?.length > 0) } }];"
      },
      "id": "c27a0744-9d0d-4cfb-9e18-f258b86337f7",
      "name": "🔀 Has Code Requests?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": ""
          },
          "conditions": [
            {
              "id": "ea4444e8-f65c-43f1-bb3e-d2c16c143358",
              "leftValue": "={{ $json.has_code }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "83e0f5a1-338f-4436-87a9-cb5643919fbf",
      "name": "🔀 Code Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2960,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bX7V3TqHlu2olNq83QKjb",
          "mode": "list",
          "cachedResultUrl": "/workflow/bX7V3TqHlu2olNq83QKjb",
          "cachedResultName": "WF-4 Code Generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "21b64a41-ed53-40ac-a85a-6027efa60096",
      "name": "💻 Call WF-4 Coder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2736,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-4-Coder\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "2a52e276-4949-499c-9773-3122259b6b60",
      "name": "📝 Log: WF-4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2512,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-5-EditorQA\" }",
        "options": {}
      },
      "id": "352d9cfa-2142-47db-87b3-134698b28b47",
      "name": "📊 Report: WF-5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SFZWJs-r141fXfI6jIX49",
          "mode": "list",
          "cachedResultUrl": "/workflow/SFZWJs-r141fXfI6jIX49",
          "cachedResultName": "WF-5 Editor / QA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1f71ca99-9b8d-4472-8dd2-ea8cf04e4bf9",
      "name": "🔍 Call WF-5 Editor/QA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2064,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-5-EditorQA\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "a2b2f70b-f3ae-4946-bac9-e6f571fb9b06",
      "name": "📝 Log: WF-5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check QA verdict and revision count\nconst result = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst chapterId = result.chapter_id || 'unknown';\nconst revisionCount = staticData.revision_counts[chapterId] || 0;\n\nconst needsRevision = result.verdict === 'needs_revision' && revisionCount < 3;\n\nif (needsRevision) {\n  staticData.revision_counts[chapterId] = revisionCount + 1;\n}\n\nreturn [{\n  json: {\n    ...result,\n    needs_revision: needsRevision,\n    revision_count: revisionCount + (needsRevision ? 1 : 0),\n    revision_feedback: result.feedback || ''\n  }\n}];"
      },
      "id": "3f03f42b-6001-41e2-825b-3c854981b72c",
      "name": "🔍 Check QA Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": ""
          },
          "conditions": [
            {
              "id": "60f5357a-8006-4a5b-93c3-a330e2213d50",
              "leftValue": "={{ $json.needs_revision }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c1188bf3-ea0e-4eaa-9c4b-65f88458c59c",
      "name": "🔀 Needs Revision?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1392,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"Revision\",\n  \"chapter_id\": \"{{ $json.chapter_id }}\",\n  \"status\": \"started\",\n  \"input_summary\": \"Revision {{ $json.revision_count }}/3: {{ $json.revision_feedback }}\"\n}",
        "options": {}
      },
      "id": "4ddc575e-ab5e-4e50-be69-a0c208eefbbf",
      "name": "📝 Log: Revision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare input for WF-3 re-call with revision feedback\nconst result = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nreturn [{\n  json: {\n    chapter_id: result.chapter_id,\n    title: result.title,\n    learning_objectives: result.learning_objectives || [],\n    domain_id: result.domain_id,\n    job_id: result.job_id || $('🔧 Initialize State').first().json.job_id,\n    syllabus_id: $('🔧 Initialize State').first().json.syllabus_id,\n    target_audience: $('🔧 Initialize State').first().json.target_audience,\n    global_history: staticData.global_history || '',\n    revision_feedback: result.revision_feedback,\n    previous_draft: result.json_content || ''\n  }\n}];"
      },
      "id": "dc5d2918-e4d9-42fd-81f3-30379bad690f",
      "name": "🔄 Prepare Revision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Append chapter summary to global_history in static data\nconst staticData = $getWorkflowStaticData('global');\nconst result = $input.first().json;\nconst chapterSummary = result.chapter_summary || '';\n\nif (chapterSummary) {\n  staticData.global_history = (staticData.global_history || '') + '\\n\\n--- Chapter: ' + (result.title || result.chapter_id) + ' ---\\n' + chapterSummary;\n}\n\n// Track completed chapter\nif (!staticData.chapters_completed) staticData.chapters_completed = [];\nstaticData.chapters_completed.push({\n  chapter_id: result.chapter_id,\n  title: result.title,\n  score: result.score || null\n});\n\nreturn [{ json: { ...result, global_history_updated: true } }];"
      },
      "id": "31899547-18d7-42ac-9fad-29f89f9c09f8",
      "name": "📝 Update Global History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"completed_chapters\": {{ $getWorkflowStaticData('global').chapters_completed?.length || 0 }}\n}",
        "options": {}
      },
      "id": "48950f40-3268-406c-8fc8-e445dd4c3710",
      "name": "📊 Update Chapter Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// All chapters processed — prepare for compilation\nconst staticData = $getWorkflowStaticData('global');\nreturn [{\n  json: {\n    all_done: true,\n    job_id: $('🔧 Initialize State').first().json.job_id,\n    chapters_completed: staticData.chapters_completed || [],\n    total_chapters: staticData.chapters_completed?.length || 0\n  }\n}];"
      },
      "id": "7e83e5b1-9a4c-4f10-b1f1-b5b15f15c2ea",
      "name": "✅ All Chapters Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4752,
        112
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-6-Compiler\" }",
        "options": {}
      },
      "id": "3504f7ee-fe8d-4593-b385-f6699811c54c",
      "name": "📊 Report: WF-6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4528,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OpjAbdxtiBVIEtXED02Ds",
          "mode": "list",
          "cachedResultUrl": "/workflow/OpjAbdxtiBVIEtXED02Ds",
          "cachedResultName": "WF-6 Book Compiler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "2ff0e599-d361-4af4-bf49-f10183185505",
      "name": "📚 Call WF-6 Compiler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4304,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-6-Compiler\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "4fdddc92-bcd2-4b40-a2d2-4d76985d5758",
      "name": "📝 Log: WF-6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4080,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"current_workflow\": \"WF-7-Publisher\" }",
        "options": {}
      },
      "id": "03f274cc-a73e-4878-b3b9-009cd2aaf4e2",
      "name": "📊 Report: WF-7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EXaf4y_dl9rV1XPTArYAX",
          "mode": "list",
          "cachedResultUrl": "/workflow/EXaf4y_dl9rV1XPTArYAX",
          "cachedResultName": "WF-7 Publisher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "db673c5f-e87d-424a-983c-1f79adffd01a",
      "name": "📤 Call WF-7 Publisher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3632,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('🔧 Initialize State').first().json.job_id }}\",\n  \"workflow_name\": \"WF-7-Publisher\",\n  \"chapter_id\": {{ $json.chapter_id ? '\"' + $json.chapter_id + '\"' : 'null' }},\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "96e4148f-0671-481e-92e7-d5aac0d869b8",
      "name": "📝 Log: WF-7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3408,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $('🔧 Initialize State').first().json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "b1299b47-0934-4e30-a153-73d6515d93d0",
      "name": "✅ Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3184,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('🔧 Initialize State').first().json.job_id;\nconst staticData = $getWorkflowStaticData('global');\nreturn [{\n  json: {\n    status: 'success',\n    job_id: jobId,\n    message: 'Book generation complete',\n    chapters_generated: staticData.chapters_completed?.length || 0\n  }\n}];"
      },
      "id": "f97478b6-993d-4157-a08d-5b7d767bd0f1",
      "name": "🎉 Job Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Global error handler — log error and mark job failed\nconst error = $input.first().json;\nconst jobId = $('🔧 Initialize State').first().json?.job_id || 'unknown';\n\nreturn [{\n  json: {\n    job_id: jobId,\n    error: error.message || error.error || 'Unknown error',\n    status: 'failed'\n  }\n}];"
      },
      "id": "b8bdc569-1ff4-4621-9bce-c073e888bf58",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6992,
        -112
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://admin-api:3005/api/jobs/{{ $json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"failed\",\n  \"completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "58be8261-4d6e-413e-a751-5400dbf51c95",
      "name": "❌ Mark Job Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6768,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://admin-api:3005/api/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"workflow_name\": \"Error\",\n  \"status\": \"failed\",\n  \"error_message\": \"{{ $json.error }}\"\n}",
        "options": {}
      },
      "id": "76f1cd94-e617-47e8-97bc-56d31cbcb6e2",
      "name": "📝 Log: Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6544,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "📥 Book Request Form": {
      "main": [
        [
          {
            "node": "🔍 Extract Syllabus ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extract Syllabus ID": {
      "main": [
        [
          {
            "node": "🔧 Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Initialize State": {
      "main": [
        [
          {
            "node": "📋 Register Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Register Job": {
      "main": [
        [
          {
            "node": "📊 Report: WF-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-1": {
      "main": [
        [
          {
            "node": "🏗️ Call WF-1 Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏗️ Call WF-1 Blueprint": {
      "main": [
        [
          {
            "node": "📝 Log: WF-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-1": {
      "main": [
        [
          {
            "node": "📑 Prepare Chapter List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📑 Prepare Chapter List": {
      "main": [
        [
          {
            "node": "📊 Update Total Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update Total Chapters": {
      "main": [
        [
          {
            "node": "🔁 Chapter Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Chapter Loop": {
      "main": [
        [
          {
            "node": "✅ All Chapters Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📖 Inject Global History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Inject Global History": {
      "main": [
        [
          {
            "node": "📊 Report: WF-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-2": {
      "main": [
        [
          {
            "node": "🔍 Call WF-2 Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Call WF-2 Research": {
      "main": [
        [
          {
            "node": "📝 Log: WF-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-2": {
      "main": [
        [
          {
            "node": "📊 Report: WF-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-3": {
      "main": [
        [
          {
            "node": "✍️ Call WF-3 Chapter Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Call WF-3 Chapter Builder": {
      "main": [
        [
          {
            "node": "📝 Log: WF-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-3": {
      "main": [
        [
          {
            "node": "🔀 Has Code Requests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Has Code Requests?": {
      "main": [
        [
          {
            "node": "🔀 Code Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Code Needed?": {
      "main": [
        [
          {
            "node": "💻 Call WF-4 Coder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Report: WF-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💻 Call WF-4 Coder": {
      "main": [
        [
          {
            "node": "📝 Log: WF-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-4": {
      "main": [
        [
          {
            "node": "📊 Report: WF-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-5": {
      "main": [
        [
          {
            "node": "🔍 Call WF-5 Editor/QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Call WF-5 Editor/QA": {
      "main": [
        [
          {
            "node": "📝 Log: WF-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-5": {
      "main": [
        [
          {
            "node": "🔍 Check QA Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check QA Verdict": {
      "main": [
        [
          {
            "node": "🔀 Needs Revision?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Needs Revision?": {
      "main": [
        [
          {
            "node": "📝 Log: Revision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Update Global History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: Revision": {
      "main": [
        [
          {
            "node": "🔄 Prepare Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Prepare Revision": {
      "main": [
        [
          {
            "node": "📊 Report: WF-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Update Global History": {
      "main": [
        [
          {
            "node": "📊 Update Chapter Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update Chapter Progress": {
      "main": [
        [
          {
            "node": "🔁 Chapter Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ All Chapters Done": {
      "main": [
        [
          {
            "node": "📊 Report: WF-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-6": {
      "main": [
        [
          {
            "node": "📚 Call WF-6 Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 Call WF-6 Compiler": {
      "main": [
        [
          {
            "node": "📝 Log: WF-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-6": {
      "main": [
        [
          {
            "node": "📊 Report: WF-7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Report: WF-7": {
      "main": [
        [
          {
            "node": "📤 Call WF-7 Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Call WF-7 Publisher": {
      "main": [
        [
          {
            "node": "📝 Log: WF-7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: WF-7": {
      "main": [
        [
          {
            "node": "✅ Mark Job Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Mark Job Complete": {
      "main": [
        [
          {
            "node": "🎉 Job Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Error Handler": {
      "main": [
        [
          {
            "node": "❌ Mark Job Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Mark Job Failed": {
      "main": [
        [
          {
            "node": "📝 Log: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b1181f1-f1d1-4479-89f0-86df3cd05122",
  "meta": {
    "instanceId": "60d48302a9aa1e8edca02aea5b256f3d430c6966fd15714072dd79eb1d923da5"
  },
  "id": "DwjjUNGZRimc7YG5lTzOq",
  "tags": []
}