workflows/modular/WF-3-ChapterBuilder.json
{
  "name": "WF-3 Chapter Builder",
  "nodes": [
    {
      "parameters": {
        "mode": "anyInput"
      },
      "id": "5207ef37-f8cf-497f-a27d-5a21f277f77c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate input from WF-0 Manager\nconst input = $input.first().json;\n\nconst required = ['job_id', 'chapter_id', 'title', 'learning_objectives'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  throw new Error('WF-3 input validation failed. Missing: ' + missing.join(', '));\n}\n\nif (!Array.isArray(input.learning_objectives) || input.learning_objectives.length === 0) {\n  throw new Error('WF-3: learning_objectives must be a non-empty array');\n}\n\nreturn [{\n  json: {\n    job_id: input.job_id,\n    chapter_id: input.chapter_id,\n    title: input.title,\n    domain_id: input.domain_id || '',\n    learning_objectives: input.learning_objectives,\n    fact_sheet: input.fact_sheet || {},\n    global_history: input.global_history || '',\n    target_audience: input.target_audience || 'Mid-Level Professionals',\n    revision_feedback: input.revision_feedback || null,\n    previous_draft: input.previous_draft || null\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "2b20a1a4-ffa6-4328-ab05-fe550aee4692",
      "name": "✅ Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// R2.1.1: Initialize the JSON accumulator (not a string!)\nconst staticData = $getWorkflowStaticData('global');\nstaticData.current_chapter_json = {\n  metadata: {},\n  sections: [],\n  summary: '',\n  assessment: {}\n};\nstaticData.code_requests = [];\n\nconst input = $input.first().json;\n\n// If revision mode, include previous draft context\nlet revisionContext = '';\nif (input.revision_feedback) {\n  revisionContext = '\\n\\nREVISION FEEDBACK: ' + input.revision_feedback;\n}\n\nreturn [{\n  json: {\n    ...input,\n    revision_context: revisionContext,\n    is_revision: !!input.revision_feedback\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "ed07601c-b864-4917-ab87-d538546c3591",
      "name": "📝 Init Accumulator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.4,\n  max_tokens: 2000,\n  messages: [\n    { role: 'system', content: \"Du bist der \\\"WPI Technical Writer\\\" — ein Experte für didaktische Fachbücher (ISO 17024).\\n\\nAUFGABE: Generiere den OPENER eines Kapitels als **JSON**.\\n\\nREGELN:\\n- Sprache: Deutsch\\n- Tone: Professional-Instructive. Keine persönliche Anrede (kein \\\"Du/Sie/Wir\\\").\\n- Tiefe vor Breite: Dies ist ein Study Guide für Professionals.\\n- Anti-Circular Definition Rule: Komplexe Begriffe mit einfachen Analogien erklären.\\n- KEIN Body-Content im Opener — nur Framing und Kontext.\\n\\nOUTPUT FORMAT (JSON):\\n{\\n  \\\"header\\\": \\\"Kapitel-Titel mit Teil-Nummer\\\",\\n  \\\"workload_minutes\\\": 30,\\n  \\\"domain_id\\\": \\\"D1\\\",\\n  \\\"learning_objectives\\\": [\\n    { \\\"id\\\": \\\"LO-1.1.1\\\", \\\"description\\\": \\\"...\\\" }\\n  ],\\n  \\\"professional_context\\\": \\\"Ein realistisches Szenario (Cliffhanger — nicht lösen)\\\",\\n  \\\"chapter_intro\\\": \\\"Kurze Einleitung zum Kapitel-Thema (2-3 Sätze)\\\"\\n}\\n\\nWICHTIG: Antworte NUR mit validem JSON. Keine Erklärungen, kein Markdown.\" },\n    { role: 'user', content: (function() {\n  const d = $json;\n  const los = d.learning_objectives || [];\n  const factSheet = d.fact_sheet || {};\n\n  return 'KAPITEL: ' + d.title + '\\n' +\n    'DOMAIN: ' + d.domain_id + '\\n' +\n    'ZIELGRUPPE: ' + d.target_audience + '\\n\\n' +\n    'LERNZIELE:\\n' + los.map(function(lo) {\n      return '- ' + lo.id + ' (' + (lo.bloom_level || 'K2') + '): ' + lo.description;\n    }).join('\\n') + '\\n\\n' +\n    (d.global_history ? 'BISHERIGE KAPITEL (Global History):\\n' + d.global_history.substring(0, 1000) + '\\n\\n' : '') +\n    (d.revision_context ? d.revision_context + '\\n\\n' : '') +\n    'Generiere den OPENER als JSON.';\n})() }\n  ]\n}) }}",
        "options": {}
      },
      "id": "a14f3d27-d076-438c-a6c4-d0a3d4e75303",
      "name": "🎬 Phase 1: OPENER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "5KnJ49CiBjEEjtWM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// R2.1.2: Parse opener JSON and write into chapter JSON metadata key\nconst staticData = $getWorkflowStaticData('global');\nconst response = $input.first().json.choices[0].message.content;\n\nlet opener;\ntry {\n  let jsonStr = response;\n  if (response.includes('```json')) {\n    jsonStr = response.split('```json')[1].split('```')[0];\n  } else if (response.includes('```')) {\n    jsonStr = response.split('```')[1].split('```')[0];\n  }\n  opener = JSON.parse(jsonStr.trim());\n} catch (e) {\n  // Fallback: store as raw text\n  opener = {\n    header: $('📝 Init Accumulator').first().json.title,\n    professional_context: response,\n    learning_objectives: $('📝 Init Accumulator').first().json.learning_objectives\n  };\n}\n\n// Write opener into metadata key of the JSON accumulator (not string concat)\nstaticData.current_chapter_json.metadata = opener;\n\n// Prepare LO items for the body loop\nconst initData = $('📝 Init Accumulator').first().json;\nconst los = initData.learning_objectives || [];\n\nreturn los.map(lo => ({\n  json: {\n    lo_id: lo.id || 'unknown',\n    lo_description: lo.description || '',\n    bloom_level: lo.bloom_level || 'K2',\n    chapter_title: initData.title,\n    domain_id: initData.domain_id,\n    target_audience: initData.target_audience,\n    fact_sheet: initData.fact_sheet\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "da1b8dbe-824c-4c20-8430-35e5f1c406dd",
      "name": "📋 Parse Opener",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5d6afec1-8d14-4717-a8be-5eac107cc6b7",
      "name": "🔁 LO Body Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// R2.1.3: Inject chapter JSON accumulator + per-LO RAG data\nconst staticData = $getWorkflowStaticData('global');\nconst lo = $input.first().json;\nconst loId = lo.lo_id;\n\n// Get per-LO RAG data from fact sheet\nconst factSheet = lo.fact_sheet || {};\nconst loResearch = factSheet.lo_research || {};\nconst loRag = loResearch[loId] || {};\nconst ragChunks = (loRag.rag_chunks || []).map(function(c) { return c.text; }).join('\\n---\\n');\n\nreturn [{\n  json: {\n    ...lo,\n    current_chapter_json: JSON.stringify(staticData.current_chapter_json || {}),\n    rag_context: ragChunks,\n    lo_index: (staticData.current_chapter_json.sections || []).length\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "59c3043b-1bb2-427f-8912-eda4ee0f1ac6",
      "name": "📖 Inject LO Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.5,\n  max_tokens: 4000,\n  messages: [\n    { role: 'system', content: \"Du bist der \\\"WPI Technical Writer\\\" — ein Experte für didaktische Fachbücher (ISO 17024).\\n\\nAUFGABE: Generiere den Content für EIN Lernziel (Learning Objective) als **JSON**.\\n\\nREGELN:\\n- Sprache: Deutsch\\n- 500-800 Wörter pro LO\\n- Zero-to-Hero Approach: Von Grundlagen zu Komplexität\\n- Bloom-Level beachten (K1=Erinnern, K2=Verstehen, K3=Anwenden, K4=Analysieren, K5=Bewerten, K6=Erstellen)\\n- Keine persönliche Anrede. Passiv oder Imperativ.\\n- Akronyme: First-Mention Rule (beim ersten Mal ausschreiben)\\n- Für Code-Beispiele: <<CODE_REQUEST: [Beschreibung]>> als Placeholder\\n- KEIN HTML, KEIN Markdown — nur strukturiertes JSON\\n\\nOUTPUT FORMAT (JSON):\\n{\\n  \\\"lo_id\\\": \\\"LO-1.1.1\\\",\\n  \\\"description\\\": \\\"Beschreibung des Lernziels\\\",\\n  \\\"bloom_level\\\": \\\"K2\\\",\\n  \\\"theory_content\\\": [\\n    {\\n      \\\"heading\\\": \\\"Abschnitts-Titel\\\",\\n      \\\"paragraphs\\\": [\\\"Absatz 1...\\\", \\\"Absatz 2...\\\"],\\n      \\\"definition\\\": { \\\"term\\\": \\\"...\\\", \\\"explanation\\\": \\\"...\\\" },\\n      \\\"best_practice\\\": \\\"...\\\",\\n      \\\"pitfall\\\": \\\"...\\\",\\n      \\\"code_request\\\": \\\"<<CODE_REQUEST: ...>>\\\"\\n    }\\n  ],\\n  \\\"key_takeaway\\\": \\\"Wichtigste Erkenntnis aus diesem Lernziel (1-2 Sätze)\\\",\\n  \\\"key_terms\\\": [\\\"Term1\\\", \\\"Term2\\\"]\\n}\\n\\nWICHTIG: Antworte NUR mit validem JSON. Keine Erklärungen.\" },\n    { role: 'user', content: (function() {\n  const d = $json;\n\n  return 'LERNZIEL: ' + d.lo_id + ' (' + d.bloom_level + ')\\n' +\n    'BESCHREIBUNG: ' + d.lo_description + '\\n' +\n    'KAPITEL: ' + d.chapter_title + '\\n' +\n    'DOMAIN: ' + d.domain_id + '\\n' +\n    'ZIELGRUPPE: ' + d.target_audience + '\\n\\n' +\n    (d.rag_context ? 'RAG KONTEXT (Knowledge Base):\\n' + d.rag_context.substring(0, 2000) + '\\n\\n' : '') +\n    (d.current_chapter_json ? 'BISHERIGER KAPITEL-JSON (nicht wiederholen!):\\n' + d.current_chapter_json.substring(0, 3000) + '\\n\\n' : '') +\n    'Generiere den Content für dieses Lernziel als JSON. KEINE Wiederholungen aus dem bisherigen Entwurf!';\n})() }\n  ]\n}) }}",
        "options": {}
      },
      "id": "51cfbff5-6bb9-483b-a488-0b8c9e88925b",
      "name": "✍️ Phase 2: BODY per LO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "5KnJ49CiBjEEjtWM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// R2.1.3: Parse LO body output and push into chapter JSON sections[]\nconst staticData = $getWorkflowStaticData('global');\nconst response = $input.first().json.choices[0].message.content;\n\nlet loBody;\ntry {\n  let jsonStr = response;\n  if (response.includes('```json')) {\n    jsonStr = response.split('```json')[1].split('```')[0];\n  } else if (response.includes('```')) {\n    jsonStr = response.split('```')[1].split('```')[0];\n  }\n  loBody = JSON.parse(jsonStr.trim());\n} catch (e) {\n  // Fallback: wrap raw text\n  const loData = $('📖 Inject LO Context').first().json;\n  loBody = {\n    lo_id: loData.lo_id,\n    description: loData.lo_description,\n    bloom_level: loData.bloom_level,\n    theory_content: [{ heading: loData.lo_description, paragraphs: [response] }],\n    key_takeaway: '',\n    key_terms: []\n  };\n}\n\n// Push LO object into sections[] array (JSON accumulator — no string concat)\nstaticData.current_chapter_json.sections.push({\n  lo_id: loBody.lo_id,\n  description: loBody.description || loBody.lo_description || '',\n  bloom_level: loBody.bloom_level || 'K2',\n  theory_content: loBody.theory_content || loBody.content_sections || [],\n  key_takeaway: loBody.key_takeaway || '',\n  key_terms: loBody.key_terms || [],\n  code_examples: loBody.code_examples || []\n});\n\n// Extract code requests\nif (!staticData.code_requests) staticData.code_requests = [];\nconst loStr = JSON.stringify(loBody);\nconst codeMatches = loStr.match(/<<CODE_REQUEST:[^>]+>>/g) || [];\nfor (const match of codeMatches) {\n  staticData.code_requests.push(match.replace('<<CODE_REQUEST:', '').replace('>>', '').trim());\n}\n\nreturn [{ json: { lo_id: loBody.lo_id || 'done', accumulated: true } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "3295f152-62e1-4be6-b321-d90c71a59509",
      "name": "📦 Accumulate LO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.4,\n  max_tokens: 3000,\n  messages: [\n    { role: 'system', content: \"Du bist der \\\"WPI Technical Writer\\\" — ein Experte für didaktische Fachbücher (ISO 17024).\\n\\nAUFGABE: Generiere den CLOSER eines Kapitels als **JSON**.\\n\\nREGELN:\\n- Sprache: Deutsch\\n- Löse das Szenario aus dem Opener\\n- 5-6 Prüfungsfragen (Multiple Choice + offene Fragen)\\n- Eine Transfer-Übung (praxisnah)\\n- Keine persönliche Anrede\\n\\nOUTPUT FORMAT (JSON):\\n{\\n  \\\"synthesis\\\": \\\"Zusammenfassung des Kapitels (3-5 Sätze)\\\",\\n  \\\"scenario_resolution\\\": \\\"Lösung des Opener-Szenarios\\\",\\n  \\\"key_takeaways\\\": [\\\"Takeaway 1\\\", \\\"Takeaway 2\\\", \\\"Takeaway 3\\\"],\\n  \\\"mcqs\\\": [\\n    {\\n      \\\"question\\\": \\\"Fragetext\\\",\\n      \\\"options\\\": [\\\"A) ...\\\", \\\"B) ...\\\", \\\"C) ...\\\", \\\"D) ...\\\"],\\n      \\\"correct\\\": \\\"B\\\",\\n      \\\"explanation\\\": \\\"Weil...\\\"\\n    }\\n  ],\\n  \\\"drill\\\": {\\n    \\\"description\\\": \\\"Übungsaufgabe\\\",\\n    \\\"requirements\\\": [\\\"Anforderung 1\\\", \\\"...\\\"],\\n    \\\"starter_hint\\\": \\\"Hinweis zum Einstieg\\\"\\n  }\\n}\\n\\nWICHTIG: Antworte NUR mit validem JSON. Keine Erklärungen.\" },\n    { role: 'user', content: (function() {\n  const initData = $('📝 Init Accumulator').first().json;\n  const staticData = $getWorkflowStaticData('global');\n  const chapterJson = staticData.current_chapter_json || {};\n\n  return 'KAPITEL: ' + initData.title + '\\n' +\n    'DOMAIN: ' + initData.domain_id + '\\n\\n' +\n    'LERNZIELE:\\n' + (initData.learning_objectives || []).map(function(lo) {\n      return '- ' + lo.id + ': ' + lo.description;\n    }).join('\\n') + '\\n\\n' +\n    'BISHERIGER KAPITEL-JSON (vollständig):\\n' +\n    JSON.stringify(chapterJson).substring(0, 6000) + '\\n\\n' +\n    'Generiere den CLOSER (Synthese + MCQs + Übung) als JSON.';\n})() }\n  ]\n}) }}",
        "options": {}
      },
      "id": "2548bd37-9957-426a-a091-35fd547f2484",
      "name": "🎯 Phase 3: CLOSER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "5KnJ49CiBjEEjtWM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// R2.1.4 + R2.1.5: Merge closer into chapter JSON and return.\n// The accumulator IS the output — no text-to-JSON conversion needed.\nconst staticData = $getWorkflowStaticData('global');\nconst initData = $('📝 Init Accumulator').first().json;\nconst response = $input.first().json.choices[0].message.content;\n\n// Parse closer\nlet closer;\ntry {\n  let jsonStr = response;\n  if (response.includes('```json')) {\n    jsonStr = response.split('```json')[1].split('```')[0];\n  } else if (response.includes('```')) {\n    jsonStr = response.split('```')[1].split('```')[0];\n  }\n  closer = JSON.parse(jsonStr.trim());\n} catch (e) {\n  closer = {\n    synthesis: response,\n    key_takeaways: [],\n    mcqs: [],\n    drill: { description: 'See chapter content for exercise' }\n  };\n}\n\n// Merge closer into the chapter JSON accumulator (summary + assessment keys)\nconst chapterJson = staticData.current_chapter_json;\nchapterJson.chapter_id = initData.chapter_id;\nchapterJson.title = initData.title;\nchapterJson.domain_id = initData.domain_id;\nchapterJson.summary = closer.synthesis || closer.summary || '';\nchapterJson.assessment = {\n  scenario_resolution: closer.scenario_resolution || '',\n  key_takeaways: closer.key_takeaways || [],\n  mcqs: closer.mcqs || [],\n  drill: closer.drill || {}\n};\n\nconst codeRequests = staticData.code_requests || [];\n\n// Build chapter summary for global_history\nconst summary = 'Kapitel \"' + initData.title + '\" (Domain: ' + initData.domain_id + '): ' +\n  (initData.learning_objectives || []).map(function(lo) { return lo.description; }).join('; ') +\n  '. ' + (chapterJson.summary || '').substring(0, 200);\n\n// Clean up static data\ndelete staticData.current_chapter_json;\ndelete staticData.code_requests;\n\nreturn [{\n  json: {\n    status: 'success',\n    json_content: chapterJson,\n    chapter_summary: summary,\n    code_requests: codeRequests,\n    has_code_requests: codeRequests.length > 0,\n    job_id: initData.job_id\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "32e5ed3f-2110-4012-a4e5-92765d066de1",
      "name": "📊 Finalize Chapter JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// R2.2.2 + R2.2.3: Validate chapter JSON against schema before returning\nconst input = $input.first().json;\nconst chapter = input.json_content;\n\nfunction validateChapterSchema(ch) {\n  const errors = [];\n  const required = ['chapter_id', 'title', 'metadata', 'sections', 'summary', 'assessment'];\n  for (const key of required) {\n    if (ch[key] === undefined || ch[key] === null) {\n      errors.push('Missing required key: ' + key);\n    }\n  }\n  if (typeof ch.chapter_id !== 'string') errors.push('chapter_id must be a string');\n  if (typeof ch.title !== 'string' || !ch.title) errors.push('title must be a non-empty string');\n  if (typeof ch.summary !== 'string' || !ch.summary) errors.push('summary must be a non-empty string');\n  // metadata\n  if (ch.metadata && typeof ch.metadata === 'object') {\n    if (!ch.metadata.header) errors.push('Missing metadata.header');\n    if (!ch.metadata.learning_objectives) errors.push('Missing metadata.learning_objectives');\n    else if (!Array.isArray(ch.metadata.learning_objectives)) errors.push('metadata.learning_objectives must be an array');\n    if (!ch.metadata.professional_context) errors.push('Missing metadata.professional_context');\n  }\n  // sections\n  if (Array.isArray(ch.sections)) {\n    if (ch.sections.length === 0) errors.push('sections must be a non-empty array');\n    ch.sections.forEach(function(s, i) {\n      if (!s.lo_id) errors.push('sections[' + i + '] missing lo_id');\n      if (!s.theory_content) errors.push('sections[' + i + '] missing theory_content');\n      else if (!Array.isArray(s.theory_content)) errors.push('sections[' + i + '].theory_content must be an array');\n      if (!s.key_takeaway) errors.push('sections[' + i + '] missing key_takeaway');\n    });\n  } else if (ch.sections !== undefined) {\n    errors.push('sections must be an array');\n  }\n  // assessment\n  if (ch.assessment && typeof ch.assessment === 'object') {\n    if (!Array.isArray(ch.assessment.mcqs)) errors.push('assessment.mcqs must be an array');\n    else if (ch.assessment.mcqs.length === 0) errors.push('assessment.mcqs must not be empty');\n    if (!ch.assessment.drill || typeof ch.assessment.drill !== 'object') errors.push('assessment.drill must be an object');\n  }\n  return { valid: errors.length === 0, errors: errors };\n}\n\nconst result = validateChapterSchema(chapter);\n\nif (result.valid) {\n  return [{ json: input }];\n} else {\n  return [{ json: {\n    status: 'failed',\n    validation_errors: result.errors,\n    json_content: chapter,\n    chapter_summary: input.chapter_summary || '',\n    code_requests: input.code_requests || [],\n    has_code_requests: input.has_code_requests || false,\n    job_id: input.job_id\n  }}];\n}",
        "mode": "runOnceForAllItems"
      },
      "id": "f7a2b3c4-d5e6-4f89-a012-3b5678abcdef",
      "name": "🔒 Schema Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        100
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "✅ Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validate Input": {
      "main": [
        [
          {
            "node": "📝 Init Accumulator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Init Accumulator": {
      "main": [
        [
          {
            "node": "🎬 Phase 1: OPENER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Phase 1: OPENER": {
      "main": [
        [
          {
            "node": "📋 Parse Opener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Opener": {
      "main": [
        [
          {
            "node": "🔁 LO Body Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 LO Body Loop": {
      "main": [
        [
          {
            "node": "🎯 Phase 3: CLOSER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📖 Inject LO Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Inject LO Context": {
      "main": [
        [
          {
            "node": "✍️ Phase 2: BODY per LO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Phase 2: BODY per LO": {
      "main": [
        [
          {
            "node": "📦 Accumulate LO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Accumulate LO": {
      "main": [
        [
          {
            "node": "🔁 LO Body Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Phase 3: CLOSER": {
      "main": [
        [
          {
            "node": "📊 Finalize Chapter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Finalize Chapter JSON": {
      "main": [
        [
          {
            "node": "🔒 Schema Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}