workflows/modular/WF-6-Compiler.json
{
  "name": "WF-6 Book Compiler",
  "nodes": [
    {
      "parameters": {},
      "id": "db86f6de-b4f5-4438-b1ed-a11ada712e30",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://mcp-standards:3002/chapters/{{ $('游댢 Initialize BookState').first().json.book_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "306d75fc-257b-4d51-a67f-6f9f4abacaa5",
      "name": "游닌 Get Accumulated Chapters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30464,
        12640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xOk2J7CAxWG1jwph",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get chapters from the accumulator service\nconsole.log('=== COMPILE BOOK DEBUG ===');\n\nlet finalChapters = [];\nlet book_id = 'unknown';\nlet blueprint = { title: 'Unknown Book', subtitle: '' };\n\ntry {\n  const accumulatorResponse = $('游닌 Get Accumulated Chapters').first().json;\n  console.log('Accumulator response chapters:', accumulatorResponse.chapters?.length || 0);\n  \n  if (accumulatorResponse.chapters && Array.isArray(accumulatorResponse.chapters)) {\n    finalChapters = accumulatorResponse.chapters;\n    book_id = accumulatorResponse.book_id || 'unknown';\n  }\n  \n  if (finalChapters.length > 0 && finalChapters[0].blueprint) {\n    blueprint = finalChapters[0].blueprint;\n  }\n} catch (e) {\n  console.log('Could not get chapters from accumulator:', e.message);\n}\n\nconsole.log('Final chapters to compile:', finalChapters.length);\n\nif (finalChapters.length === 0) {\n  return {\n    json: {\n      book_id: book_id,\n      title: 'ERROR: No chapters',\n      error: 'No chapters were accumulated',\n      final_markdown: '# ERROR\\n\\nNo chapters were processed.',\n      exam_questions_markdown: '# Keine Pr칲fungsfragen\\n\\nKeine Kapitel wurden verarbeitet.',\n      chapter_scores: [],\n      average_score: 0,\n      total_chapters: 0,\n      completed_at: new Date().toISOString()\n    }\n  };\n}\n\n// Sort by chapter number\nfinalChapters.sort((a, b) => (a.chapter_number || 0) - (b.chapter_number || 0));\n\n// Create final book markdown\nlet bookMarkdown = '# ' + blueprint.title + '\\n\\n';\nbookMarkdown += '*' + (blueprint.subtitle || '') + '*\\n\\n';\n\nif (blueprint.iso_alignment) {\n  bookMarkdown += '**ISO 17024 Syllabus:** ' + (blueprint.iso_alignment.syllabus_id || blueprint.iso_alignment.domain_id) + '\\n\\n';\n}\n\nbookMarkdown += '---\\n\\n## Inhaltsverzeichnis\\n\\n';\nfinalChapters.forEach((ch, i) => {\n  bookMarkdown += (i + 1) + '. ' + (ch.title || 'Kapitel ' + (i + 1)) + '\\n';\n});\nbookMarkdown += '\\n---\\n\\n';\n\nfinalChapters.forEach((ch, i) => {\n  const chapterContent = ch.content || '';\n  console.log('Chapter', ch.chapter_number || i + 1, 'content length:', chapterContent.length);\n  if (chapterContent) {\n    bookMarkdown += chapterContent + '\\n\\n---\\n\\n';\n  }\n});\n\n// Collect all exam questions as Markdown\nlet allQuestionsMarkdown = '# Pr칲fungsfragen\\n\\n';\nfinalChapters.forEach((ch) => {\n  if (ch.exam_questions_markdown) {\n    allQuestionsMarkdown += '## Kapitel ' + ch.chapter_number + ': ' + ch.title + '\\n\\n';\n    allQuestionsMarkdown += ch.exam_questions_markdown + '\\n\\n---\\n\\n';\n  }\n});\n\n// Calculate average score\nconst validScores = finalChapters.filter(ch => typeof ch.score === 'number' && ch.score > 0);\nconst averageScore = validScores.length > 0 \n  ? validScores.reduce((sum, ch) => sum + ch.score, 0) / validScores.length \n  : 0;\n\nconsole.log('Average score:', averageScore);\nconsole.log('=== END DEBUG ===');\n\nreturn {\n  json: {\n    book_id: book_id,\n    title: blueprint.title,\n    iso_alignment: blueprint.iso_alignment,\n    final_markdown: bookMarkdown,\n    exam_questions_markdown: allQuestionsMarkdown,\n    chapter_scores: finalChapters.map(ch => ({ \n      chapter: ch.chapter_number || 0, \n      title: ch.title,\n      score: ch.score || 0,\n      iso_compliant: ch.iso_compliant || false,\n      passed_quality: ch.passed_quality || false\n    })),\n    average_score: averageScore,\n    kb_document_ids: finalChapters.map(ch => ch.kb_document_id).filter(Boolean),\n    total_chapters: finalChapters.length,\n    completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "13a35b0b-7351-417a-9347-1d38a6f55463",
      "name": "游닄 Compile Book",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30240,
        12640
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "游닌 Get Accumulated Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "游닌 Get Accumulated Chapters": {
      "main": [
        [
          {
            "node": "游닄 Compile Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}