workflows/wpi-content-factory-workflow.json
{
  "name": "WPI AI Content Factory - MCP Integrated",
  "nodes": [
    {
      "parameters": {
        "path": "1fc7aa3f-5297-4e0a-8a97-90c3013c81d0",
        "formTitle": "WPI Content Factory - New Book",
        "formDescription": "Starte die Erstellung eines neuen Fachbuchs",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book Slot ID",
              "placeholder": "z.B. slot-01-react-native",
              "requiredField": true
            },
            {
              "fieldLabel": "Product Definition",
              "fieldType": "textarea",
              "placeholder": "Beschreibung des Themas, Lernziele, Umfang...",
              "requiredField": true
            },
            {
              "fieldLabel": "Syllabus Domain ID",
              "placeholder": "z.B. D1, D2, oder D1.1 für spezifische Topics",
              "requiredField": false
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Absolute Beginners" },
                  { "option": "Junior Developers" },
                  { "option": "Mid-Level Professionals" },
                  { "option": "Senior Experts" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Focus Areas",
              "placeholder": "z.B. Performance, Security, Best Practices"
            },
            {
              "fieldLabel": "Number of Chapters",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "9d8e91c4-eced-4971-a98d-4a4a303ccb77",
      "name": "📥 Book Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [-25616, 9824],
      "webhookId": "1fc7aa3f-5297-4e0a-8a97-90c3013c81d0"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  book_id: $json['Book Slot ID'],\n  product_definition: $json['Product Definition'],\n  syllabus_domain_id: $json['Syllabus Domain ID'] || null,\n  target_audience: $json['Target Audience'],\n  focus_areas: $json['Focus Areas'],\n  num_chapters: $json['Number of Chapters'],\n  status: 'initialized',\n  created_at: $now.toISO(),\n  chapters: [],\n  exam_questions: [],\n  revision_count: 0\n} }}",
        "options": {}
      },
      "id": "5ae5cefc-79de-40aa-8d7b-5f488f13af68",
      "name": "🔧 Initialize BookState",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-25392, 9824]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-standards:3002/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: 'get_syllabus_section',\n  arguments: {\n    domain_id: $json.syllabus_domain_id || 'D1',\n    output_format: 'json'\n  }\n}) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-get-syllabus",
      "name": "📚 MCP: Get Syllabus Section",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-25168, 9624],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-research:3003/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: 'hybrid_search',\n  arguments: {\n    query: $('🔧 Initialize BookState').first().json.product_definition,\n    filter_metadata: {\n      domain_id: $('🔧 Initialize BookState').first().json.syllabus_domain_id || undefined\n    },\n    limit: 10,\n    output_format: 'json'\n  }\n}) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-research-context",
      "name": "🔍 MCP: Search Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-25168, 9824],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine syllabus and research context\nconst bookState = $('🔧 Initialize BookState').first().json;\n\n// Get syllabus section (from MCP-Standards)\nlet syllabusContext = null;\ntry {\n  const syllabusResponse = $('📚 MCP: Get Syllabus Section').first().json;\n  if (syllabusResponse.body && !syllabusResponse.body.error) {\n    const content = syllabusResponse.body.content?.[0]?.text;\n    syllabusContext = content ? JSON.parse(content) : null;\n  }\n} catch (e) {\n  console.log('Syllabus fetch failed, continuing without:', e.message);\n}\n\n// Get research context (from MCP-Research / Qdrant)\nlet researchContext = [];\ntry {\n  const researchResponse = $('🔍 MCP: Search Knowledge Base').first().json;\n  if (researchResponse.body && !researchResponse.body.error) {\n    const content = researchResponse.body.content?.[0]?.text;\n    const parsed = content ? JSON.parse(content) : null;\n    researchContext = parsed?.results || [];\n  }\n} catch (e) {\n  console.log('Research fetch failed, continuing without:', e.message);\n}\n\nreturn {\n  json: {\n    ...bookState,\n    syllabus_context: syllabusContext,\n    research_context: researchContext,\n    has_syllabus: !!syllabusContext,\n    has_research: researchContext.length > 0\n  }\n};"
      },
      "id": "merge-context",
      "name": "🔀 Merge MCP Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-24944, 9724]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.3,\n  max_tokens: 4000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Du bist \"The Architect\" - ein erfahrener Didaktik-Experte für technische Fachbücher.\\n\\nDeine Aufgabe:\\n1. Analysiere die Product Definition\\n2. Berücksichtige die Syllabus-Lernziele (falls vorhanden)\\n3. Nutze den Kontext aus der Knowledge Base\\n4. Erstelle ein detailliertes Inhaltsverzeichnis (Table of Contents)\\n5. Definiere klare Lernziele für jedes Kapitel (ISO 17024 konform)\\n\\nRegeln:\\n- Jedes Kapitel sollte 10-15 Seiten umfassen\\n- Beginne mit Grundlagen, steigere die Komplexität\\n- Jedes Kapitel endet mit einer praktischen Übung\\n- Berücksichtige die Zielgruppe bei der Tiefe\\n- Lernziele müssen messbar und überprüfbar sein\\n\\nOutput-Format: JSON\\n```json\\n{\\n  \"title\": \"Buchtitel\",\\n  \"subtitle\": \"Untertitel\",\\n  \"iso_alignment\": {\\n    \"domain_id\": \"D1\",\\n    \"covered_objectives\": [\"LO-001\", \"LO-002\"]\\n  },\\n  \"chapters\": [\\n    {\\n      \"number\": 1,\\n      \"title\": \"Kapiteltitel\",\\n      \"learning_goals\": [\"Lernziel 1 (Bloom: understand)\", \"Lernziel 2 (Bloom: apply)\"],\\n      \"syllabus_mapping\": [\"LO-001\"],\\n      \"sections\": [\"Section 1\", \"Section 2\"],\\n      \"estimated_pages\": 12,\\n      \"practical_exercise\": \"Beschreibung der Übung\"\\n    }\\n  ]\\n}\\n```'\n    },\n    {\n      role: 'user',\n      content: 'Erstelle das Inhaltsverzeichnis für folgendes Buch:\\n\\n**Slot ID:** ' + $json.book_id + '\\n**Product Definition:** ' + $json.product_definition + '\\n**Zielgruppe:** ' + $json.target_audience + '\\n**Fokus-Bereiche:** ' + ($json.focus_areas || 'Nicht spezifiziert') + '\\n**Gewünschte Kapitelanzahl:** ' + $json.num_chapters + '\\n\\n' + ($json.has_syllabus ? '**Syllabus-Kontext (ISO 17024):**\\n' + JSON.stringify($json.syllabus_context, null, 2) : '') + '\\n\\n' + ($json.has_research ? '**Relevanter Kontext aus Knowledge Base:**\\n' + $json.research_context.slice(0, 5).map(function(r) { return '- ' + (r.text || '').substring(0, 200) + '...'; }).join('\\n') : '') + '\\n\\nAntworte NUR mit dem JSON, keine Erklärungen.'\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "f272ee78-9d36-44c8-a2bb-22904535e1c0",
      "name": "🏗️ Architect Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-24720, 9724],
      "credentials": {
        "openAiApi": {
          "id": "Oh3Rnj32fETJUF9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and extract JSON\nconst response = $input.first().json.choices[0].message.content;\n\n// Try to extract JSON from the response\nlet blueprint;\ntry {\n  let jsonStr = response;\n  if (response.includes('```json')) {\n    jsonStr = response.split('```json')[1].split('```')[0];\n  } else if (response.includes('```')) {\n    jsonStr = response.split('```')[1].split('```')[0];\n  }\n  blueprint = JSON.parse(jsonStr.trim());\n} catch (e) {\n  throw new Error('Failed to parse blueprint JSON: ' + e.message);\n}\n\n// Get the previous state\nconst prevState = $('🔀 Merge MCP Context').first().json;\n\nreturn {\n  json: {\n    ...prevState,\n    blueprint: blueprint,\n    status: 'blueprint_ready'\n  }\n};"
      },
      "id": "920c8203-04b1-45a4-ba03-7a72eedf321f",
      "name": "📋 Parse Blueprint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-24496, 9724]
    },
    {
      "parameters": {
        "fromEmail": "content-factory@wpi.org",
        "toEmail": "hennadii.shvedko@gmail.com",
        "subject": "=📚 Blueprint Review: {{ $json.blueprint.title }}",
        "html": "=<h1>Blueprint zur Freigabe</h1>\n<p><strong>Buch:</strong> {{ $json.blueprint.title }}</p>\n<p><strong>Zielgruppe:</strong> {{ $json.target_audience }}</p>\n{{ $json.blueprint.iso_alignment ? '<p><strong>ISO 17024 Domain:</strong> ' + $json.blueprint.iso_alignment.domain_id + '</p>' : '' }}\n\n<h2>Inhaltsverzeichnis</h2>\n<ol>\n{{ $json.blueprint.chapters.map(ch => '<li><strong>' + ch.title + '</strong><br><small>Lernziele: ' + ch.learning_goals.join(', ') + '</small>' + (ch.syllabus_mapping ? '<br><small>Syllabus: ' + ch.syllabus_mapping.join(', ') + '</small>' : '') + '</li>').join('') }}\n</ol>\n\n<p><a href=\"{{ $execution.resumeUrl }}?approved=approved\" style=\"background:#22c55e;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;\">✅ Freigeben</a></p>",
        "options": {}
      },
      "id": "0025f921-5bf9-499a-818f-a2418d324cff",
      "name": "📧 Send for Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-24272, 9724],
      "webhookId": "06aaae0c-e998-4820-836c-9031822d1180",
      "credentials": {
        "smtp": {
          "id": "OjlJbmPfeYsQ6qw1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "43a7af6f-33e3-4f01-8679-c228fc0bbc20",
      "name": "⏸️ Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-24048, 9724],
      "webhookId": "d05895d9-633a-4680-a06b-3842b1ec37ff"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approved-condition",
              "leftValue": "={{ $json.query?.approved || $json.approved || $json.Entscheidung }}",
              "rightValue": "approved",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46b53864-7086-432d-8d5d-b58580e36ab1",
      "name": "🔀 Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-23824, 9824]
    },
    {
      "parameters": {
        "jsCode": "// Get current state\nconst state = $('📋 Parse Blueprint').first().json;\nconst chapters = state.blueprint.chapters;\n\n// Return chapters as array for loop\nreturn chapters.map((chapter, index) => ({\n  json: {\n    ...state,\n    current_chapter: chapter,\n    current_chapter_index: index\n  }\n}));"
      },
      "id": "4af29a1a-34cb-4979-be57-b5f214885477",
      "name": "📑 Prepare Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-23600, 9824]
    },
    {
      "parameters": { "options": {} },
      "id": "aa2b4285-c69f-4d12-93d3-b317a3b5203d",
      "name": "🔁 Chapter Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-23376, 9824]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-research:3003/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: 'hybrid_search',\n  arguments: {\n    query: $json.current_chapter.title + ' ' + $json.current_chapter.learning_goals.join(' '),\n    filter_metadata: {\n      domain_id: $json.blueprint.iso_alignment?.domain_id || undefined\n    },\n    limit: 5,\n    output_format: 'json'\n  }\n}) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-chapter-research",
      "name": "🔍 MCP: Chapter Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-23152, 9272],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-standards:3002/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: 'get_syllabus_section',\n  arguments: {\n    domain_id: $('🔁 Chapter Loop').first().json.current_chapter.syllabus_mapping?.[0] || $('🔁 Chapter Loop').first().json.blueprint.iso_alignment?.domain_id || 'D1',\n    output_format: 'json'\n  }\n}) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-chapter-syllabus",
      "name": "📚 MCP: Get Chapter LOs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-23152, 9472],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Reset revision counter for this chapter\nconst staticData = $getWorkflowStaticData('global');\nstaticData.revision_count = 0;\n\n// Get chapter data from loop\nconst chapterLoop = $('🔁 Chapter Loop').first().json;\n\n// Extract research from MCP-Research\nlet chapterResearch = [];\ntry {\n  const researchResp = $('🔍 MCP: Chapter Research').first().json;\n  if (researchResp.body?.content?.[0]?.text) {\n    const parsed = JSON.parse(researchResp.body.content[0].text);\n    chapterResearch = parsed.results || [];\n  }\n} catch (e) {\n  console.log('Chapter research not available:', e.message);\n}\n\n// Extract syllabus learning objectives from MCP-Standards\nlet syllabusLOs = [];\ntry {\n  const syllabusResp = $('📚 MCP: Get Chapter LOs').first().json;\n  if (syllabusResp.body?.content?.[0]?.text) {\n    const parsed = JSON.parse(syllabusResp.body.content[0].text);\n    syllabusLOs = parsed.results || [];\n  }\n} catch (e) {\n  console.log('Syllabus LOs not available:', e.message);\n}\n\nreturn {\n  json: {\n    book_id: chapterLoop.book_id,\n    current_chapter: chapterLoop.current_chapter,\n    current_chapter_index: chapterLoop.current_chapter_index,\n    chapter_research: chapterResearch,\n    syllabus_learning_objectives: syllabusLOs,\n    blueprint: chapterLoop.blueprint,\n    target_audience: chapterLoop.target_audience,\n    revision_count: 0\n  }\n};"
      },
      "id": "6dd4a74f-3927-428d-b578-d64c7129a8dc",
      "name": "💾 Merge Chapter Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-22928, 9372]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.7,\n  max_tokens: 6000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Du bist \"The Writer\" - ein erfahrener Technical Author für das WPI.\\n\\n## WPI Tone of Voice\\n- Klar und präzise, keine Floskeln\\n- Pragmatisch und praxisorientiert\\n- Respektvoll gegenüber dem Leser\\n- Analogien und Beispiele aus der echten Welt\\n- Aktive Sprache, direkte Anrede (\"Du\")\\n\\n## ISO 17024 Compliance\\n- Alle Lernziele müssen explizit adressiert werden\\n- Jedes Lernziel muss mit einem Bloom-Taxonomy-Level versehen sein\\n- Der Inhalt muss messbar und überprüfbar sein\\n\\n## Struktur pro Kapitel\\n1. **Einleitung** (1 Absatz): Warum ist das wichtig?\\n2. **Konzepte** (2-3 Seiten): Theorie verständlich erklärt\\n3. **Praxis** (3-4 Seiten): Code-Beispiele mit Erklärungen\\n4. **Best Practices** (1 Seite): Dos and Donts\\n5. **Zusammenfassung** (1 Absatz): Key Takeaways\\n6. **Lernziel-Check** (Checkboxen): Selbstprüfung der Lernziele\\n7. **Übung** (1 Seite): Praktische Aufgabe\\n\\n## Code-Handling\\nWenn du Code-Beispiele brauchst, setze einen Platzhalter:\\n<<CODE_REQUEST: Beschreibung was der Code tun soll>>\\n\\nDer Coder-Agent wird diese später mit validiertem Code ersetzen.\\n\\n## Output\\nSchreibe in Markdown mit deutschen Überschriften.'\n    },\n    {\n      role: 'user',\n      content: 'Schreibe Kapitel ' + $json.current_chapter.number + ': \"' + $json.current_chapter.title + '\"\\n\\n**Lernziele:**\\n' + $json.current_chapter.learning_goals.map(function(g) { return '- ' + g; }).join('\\n') + '\\n\\n**Sections:**\\n' + $json.current_chapter.sections.map(function(s) { return '- ' + s; }).join('\\n') + '\\n\\n' + ($json.syllabus_learning_objectives.length > 0 ? '**ISO 17024 Syllabus Learning Objectives:**\\n' + $json.syllabus_learning_objectives.slice(0, 5).map(function(lo) { return '- ' + (lo.content?.id || lo.id || '') + ': ' + (lo.content?.description || lo.description || JSON.stringify(lo)); }).join('\\n') : '') + '\\n\\n' + ($json.chapter_research.length > 0 ? '**Relevantes Material aus Knowledge Base:**\\n' + $json.chapter_research.slice(0, 3).map(function(r) { return '- ' + (r.text || '').substring(0, 300) + '...'; }).join('\\n') : '') + '\\n\\n**Zielgruppe:** ' + $json.target_audience + '\\n\\n**Praktische Übung am Ende:** ' + $json.current_chapter.practical_exercise + '\\n\\nSchreibe das komplette Kapitel (ca. 10-15 Seiten / 3000-4000 Wörter).'\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "c578cadc-be8b-481e-8a79-3c7c9b7556a5",
      "name": "✍️ Writer Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-22704, 9372],
      "credentials": {
        "openAiApi": {
          "id": "Oh3Rnj32fETJUF9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $input.first().json.choices[0].message.content;\n\n// Get base data from Merge Chapter Context\nlet prevData = $('💾 Merge Chapter Context').first().json;\n\n// Get revision count from workflow static data\nconst staticData = $getWorkflowStaticData('global');\nlet revision_count = staticData.revision_count || 0;\n\n// Extract CODE_REQUEST placeholders\nconst codeRequests = [];\nconst regex = /<<CODE_REQUEST:\\s*(.+?)>>/g;\nlet match;\n\nwhile ((match = regex.exec(draft)) !== null) {\n  codeRequests.push({\n    placeholder: match[0],\n    description: match[1].trim()\n  });\n}\n\nreturn {\n  json: {\n    ...prevData,\n    draft_content: draft,\n    code_requests: codeRequests,\n    has_code_requests: codeRequests.length > 0,\n    revision_count: revision_count\n  }\n};"
      },
      "id": "32ae110c-52a2-47c5-8cc1-3ffb2f9bd2c2",
      "name": "📝 Extract Code Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-22480, 9372]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-code",
              "leftValue": "={{ $json.has_code_requests }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f176007b-48f7-40b9-b01f-e6fefa8ebeca",
      "name": "🔀 Code Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-22256, 9372]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.2,\n  max_tokens: 4000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Du bist \"The Coder\" - ein Senior Developer, der Code-Beispiele für Fachbücher erstellt.\\n\\n## Regeln\\n1. Schreibe sauberen, lesbaren Code\\n2. Füge hilfreiche Kommentare hinzu\\n3. Halte Beispiele kurz aber vollständig\\n4. Verwende moderne Syntax (ES6+, aktuelle Framework-Versionen)\\n5. Behandle Edge Cases\\n6. Code muss lauffähig sein\\n\\n## Output-Format\\nFür jede Code-Anfrage, antworte mit:\\n\\n### [Beschreibung]\\n```[sprache]\\n// Code hier\\n```\\n**Erklärung:** Kurze Erklärung was der Code tut.'\n    },\n    {\n      role: 'user',\n      content: 'Erstelle Code-Beispiele für folgende Anfragen:\\n\\n' + $json.code_requests.map(function(cr, i) { return (i+1) + '. ' + cr.description; }).join('\\n') + '\\n\\n**Kontext:** Kapitel \"' + $json.current_chapter.title + '\" aus dem Buch \"' + $json.blueprint.title + '\"\\n**Zielgruppe:** ' + $json.target_audience\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "c47042a5-8ea8-45ff-b6aa-f0e3e727b8f5",
      "name": "💻 Coder Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-22032, 9272],
      "credentials": {
        "openAiApi": {
          "id": "Oh3Rnj32fETJUF9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('📝 Extract Code Requests').first().json;\nconst codeResponse = $input.first().json.choices[0].message?.content || '';\n\n// Extract code blocks for validation\nconst codeBlocks = codeResponse.match(/```([\\w]*)\\n([\\s\\S]*?)```/g) || [];\nconst extractedCode = codeBlocks.map(block => {\n  const match = block.match(/```([\\w]*)\\n([\\s\\S]*?)```/);\n  return {\n    language: match[1] || 'javascript',\n    code: match[2].trim()\n  };\n});\n\n// Replace placeholders with actual code\nlet finalDraft = prevData.draft_content;\nprevData.code_requests.forEach((req, index) => {\n  if (codeBlocks[index]) {\n    finalDraft = finalDraft.replace(req.placeholder, codeBlocks[index]);\n  }\n});\n\nreturn {\n  json: {\n    ...prevData,\n    draft_content: finalDraft,\n    extracted_code: extractedCode,\n    raw_code_response: codeResponse,\n    code_validated: false\n  }\n};"
      },
      "id": "b68cb994-843a-45bb-aa7d-fa0e5fa2362e",
      "name": "🔗 Merge Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-21808, 9272]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-coder:3004/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  const codeItems = $json.extracted_code || [];\n  if (codeItems.length === 0) {\n    return JSON.stringify({ name: 'validate_code_snippet', arguments: { code: '// no code', language: 'javascript' }});\n  }\n  // Validate first code block (can be extended to validate all)\n  const firstCode = codeItems[0];\n  const langMap = { 'js': 'javascript', 'ts': 'typescript', 'jsx': 'javascript', 'tsx': 'typescript' };\n  const lang = langMap[firstCode.language] || firstCode.language || 'javascript';\n  return JSON.stringify({\n    name: 'validate_code_snippet',\n    arguments: {\n      code: firstCode.code,\n      language: ['javascript', 'typescript', 'html', 'css', 'json'].includes(lang) ? lang : 'javascript',\n      strict_mode: true,\n      check_best_practices: false\n    }\n  });\n})() }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-validate-code",
      "name": "🔬 MCP: Validate Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-21584, 9172],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('🔗 Merge Code').first().json;\n\n// Parse validation result from MCP-Coder\nlet validationResult = { valid: true, errors: [], suggestions: [] };\ntry {\n  const valResp = $('🔬 MCP: Validate Code').first().json;\n  if (valResp.body?.content?.[0]?.text) {\n    validationResult = JSON.parse(valResp.body.content[0].text);\n  }\n} catch (e) {\n  console.log('Code validation not available:', e.message);\n}\n\n// Get static data for retry count\nconst staticData = $getWorkflowStaticData('global');\nstaticData.code_retry_count = staticData.code_retry_count || 0;\n\nreturn {\n  json: {\n    ...prevData,\n    code_validation: validationResult,\n    code_validated: validationResult.valid,\n    code_errors: validationResult.errors || [],\n    code_suggestions: validationResult.suggestions || [],\n    code_retry_count: staticData.code_retry_count\n  }\n};"
      },
      "id": "parse-code-validation",
      "name": "📊 Parse Code Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-21360, 9172]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "code-valid",
              "leftValue": "={{ $json.code_validated }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "code-valid-check",
      "name": "🔀 Code Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-21136, 9172]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "code-retry-limit",
              "leftValue": "={{ $json.code_retry_count }}",
              "rightValue": 2,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "code-retry-check",
      "name": "🔀 Code Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-20912, 9072]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.2,\n  max_tokens: 4000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Du bist \"The Coder\" - ein Senior Developer. Der vorherige Code hatte Fehler. Korrigiere den Code basierend auf den Fehlermeldungen.\\n\\nRegeln:\\n1. Verwende moderne ES6+ Syntax\\n2. Füge hilfreiche Kommentare hinzu\\n3. Behandle Edge Cases\\n4. Code muss syntaktisch korrekt sein\\n\\nOutput nur den korrigierten Code im gleichen Format.'\n    },\n    {\n      role: 'user',\n      content: 'Korrigiere folgenden Code:\\n\\n**Originaler Code:**\\n' + $json.raw_code_response + '\\n\\n**Fehler vom Validator:**\\n' + JSON.stringify($json.code_errors, null, 2) + '\\n\\n**Verbesserungsvorschläge:**\\n' + ($json.code_suggestions || []).join('\\n') + '\\n\\nBitte korrigiere den Code und gib ihn im gleichen Format zurück (mit ```sprache blocks).'\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "coder-self-correct",
      "name": "🔄 Coder Self-Correct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20688, 8972],
      "credentials": {
        "openAiApi": {
          "id": "Oh3Rnj32fETJUF9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Increment retry counter and merge corrected code\nconst staticData = $getWorkflowStaticData('global');\nstaticData.code_retry_count = (staticData.code_retry_count || 0) + 1;\n\nconst prevData = $('📊 Parse Code Validation').first().json;\nconst codeResponse = $input.first().json.choices[0].message?.content || '';\n\n// Extract code blocks for validation\nconst codeBlocks = codeResponse.match(/```([\\w]*)\\n([\\s\\S]*?)```/g) || [];\nconst extractedCode = codeBlocks.map(block => {\n  const match = block.match(/```([\\w]*)\\n([\\s\\S]*?)```/);\n  return {\n    language: match[1] || 'javascript',\n    code: match[2].trim()\n  };\n});\n\n// Re-merge into draft\nlet finalDraft = prevData.draft_content;\nconst originalCodeBlocks = prevData.draft_content.match(/```[\\s\\S]*?```/g) || [];\noriginalCodeBlocks.forEach((oldBlock, index) => {\n  if (codeBlocks[index]) {\n    finalDraft = finalDraft.replace(oldBlock, codeBlocks[index]);\n  }\n});\n\nreturn {\n  json: {\n    ...prevData,\n    draft_content: finalDraft,\n    extracted_code: extractedCode,\n    raw_code_response: codeResponse,\n    code_validated: false,\n    code_retry_count: staticData.code_retry_count\n  }\n};"
      },
      "id": "merge-corrected-code",
      "name": "🔗 Merge Corrected Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-20464, 8972]
    },
    {
      "parameters": {},
      "id": "skip-code-validation",
      "name": "⏭️ Skip Validation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-20912, 9272]
    },
    {
      "parameters": {},
      "id": "7427463e-4e04-4e0d-a3cc-9819b9b34891",
      "name": "⏭️ Skip Code",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-21808, 9472]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-standards:3002/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  var draft = '';\n  try {\n    draft = $('🔗 Merge Code').first().json.draft_content;\n  } catch (e) {\n    try {\n      draft = $('⏭️ Skip Code').first().json.draft_content || $('📝 Extract Code Requests').first().json.draft_content;\n    } catch (e2) {\n      draft = $('📝 Extract Code Requests').first().json.draft_content;\n    }\n  }\n  return JSON.stringify({\n    name: 'validate_iso_compliance',\n    arguments: {\n      content: draft.substring(0, 10000),\n      output_format: 'json'\n    }\n  });\n})() }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-iso-validate",
      "name": "📋 MCP: ISO Compliance Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-21584, 9372],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  var draft = '';\n  var prevData = {};\n  try {\n    prevData = $('🔗 Merge Code').first().json;\n    draft = prevData.draft_content;\n  } catch (e) {\n    try {\n      prevData = $('⏭️ Skip Code').first().json || $('📝 Extract Code Requests').first().json;\n      draft = prevData.draft_content || $('📝 Extract Code Requests').first().json.draft_content;\n    } catch (e2) {\n      prevData = $('📝 Extract Code Requests').first().json;\n      draft = prevData.draft_content;\n    }\n  }\n  var isoCompliance = null;\n  try {\n    var isoResp = $('📋 MCP: ISO Compliance Check').first().json;\n    if (isoResp.body && isoResp.body.content && isoResp.body.content[0] && isoResp.body.content[0].text) {\n      isoCompliance = JSON.parse(isoResp.body.content[0].text);\n    }\n  } catch (e) {}\n  return JSON.stringify({\n    model: 'gpt-4o',\n    temperature: 0.3,\n    max_tokens: 3000,\n    messages: [\n      {\n        role: 'system',\n        content: 'Du bist \"The ISO Editor\" - ein Quality Gate für WPI-Inhalte.\\n\\n## Deine Aufgaben\\n1. Prüfe ob alle Lernziele abgedeckt sind\\n2. Prüfe ISO 17024 Compliance (wenn vorhanden)\\n3. Prüfe Konsistenz zwischen Text und Code\\n4. Prüfe didaktische Qualität\\n5. Vergib einen Score (0-100)\\n6. Generiere 5 Prüfungsfragen\\n\\n## Bewertungskriterien\\n- Vollständigkeit der Lernziele: 30 Punkte\\n- ISO 17024 Compliance: 20 Punkte\\n- Klarheit der Erklärungen: 20 Punkte\\n- Code-Qualität: 15 Punkte\\n- Didaktischer Aufbau: 10 Punkte\\n- Übung sinnvoll: 5 Punkte\\n\\n## Output-Format (JSON)\\n```json\\n{\\n  \"score\": 85,\\n  \"iso_compliant\": true,\\n  \"feedback\": {\\n    \"strengths\": [\"...\", \"...\"],\\n    \"improvements\": [\"...\", \"...\"]\\n  },\\n  \"approved\": true,\\n  \"exam_questions\": [\\n    {\\n      \"question\": \"Frage?\",\\n      \"options\": [\"A) ...\", \"B) ...\", \"C) ...\", \"D) ...\"],\\n      \"correct\": \"B\",\\n      \"bloom_level\": \"understand\",\\n      \"explanation\": \"Warum B richtig ist.\"\\n    }\\n  ]\\n}\\n```\\n\\nWenn score < 85, setze \"approved\": false und gib konkretes Feedback.'\n      },\n      {\n        role: 'user',\n        content: 'Prüfe folgendes Kapitel:\\n\\n**Kapitel ' + (prevData.current_chapter ? prevData.current_chapter.number : '?') + ':** ' + (prevData.current_chapter ? prevData.current_chapter.title : 'Unknown') + '\\n\\n**Lernziele:**\\n' + (prevData.current_chapter && prevData.current_chapter.learning_goals ? prevData.current_chapter.learning_goals.map(function(g) { return '- ' + g; }).join('\\n') : '') + '\\n\\n' + (isoCompliance ? '**ISO 17024 Compliance Report:**\\n' + JSON.stringify(isoCompliance, null, 2) : '') + '\\n\\n**Inhalt (gekürzt):**\\n' + draft.substring(0, 8000) + '\\n\\nBewerte das Kapitel und generiere 5 Prüfungsfragen. Antworte NUR mit JSON.'\n      }\n    ]\n  });\n})() }}",
        "options": {}
      },
      "id": "0ca5b509-c8f8-41d4-9dde-4044a3cc90ff",
      "name": "🔍 Editor Agent (QA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-21360, 9372],
      "credentials": {
        "openAiApi": {
          "id": "Oh3Rnj32fETJUF9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.choices[0].message.content;\n\n// Get previous data\nlet prevData;\ntry {\n  prevData = $('🔗 Merge Code').first().json;\n} catch (e1) {\n  try {\n    prevData = $('⏭️ Skip Code').first().json;\n  } catch (e2) {\n    prevData = $('📝 Extract Code Requests').first().json;\n  }\n}\n\n// Parse editor response\nlet editorResult;\ntry {\n  let jsonStr = response;\n  if (response.includes('```json')) {\n    jsonStr = response.split('```json')[1].split('```')[0];\n  } else if (response.includes('```')) {\n    jsonStr = response.split('```')[1].split('```')[0];\n  }\n  editorResult = JSON.parse(jsonStr.trim());\n} catch (e) {\n  editorResult = {\n    score: 85,\n    approved: true,\n    iso_compliant: true,\n    feedback: { strengths: [], improvements: [] },\n    exam_questions: []\n  };\n}\n\n// Increment revision count\nconst staticData = $getWorkflowStaticData('global');\nstaticData.revision_count = (staticData.revision_count || 0) + 1;\nconst revision_count = staticData.revision_count;\n\nreturn {\n  json: {\n    ...prevData,\n    editor_score: editorResult.score,\n    editor_feedback: editorResult.feedback,\n    editor_approved: editorResult.approved,\n    iso_compliant: editorResult.iso_compliant,\n    exam_questions: editorResult.exam_questions,\n    revision_count: revision_count\n  }\n};"
      },
      "id": "e531fb59-53d7-4489-9ffc-f208d0799c69",
      "name": "📊 Parse Editor Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-21136, 9372]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approved",
              "leftValue": "={{ $json.editor_approved }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "02549a35-4ceb-493e-b7c6-7cea5a9d1f1e",
      "name": "🔀 Quality OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-20912, 9372]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "max-revisions",
              "leftValue": "={{ $json.revision_count }}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d41052a3-38a0-42b0-8dd9-614b09a9a87f",
      "name": "🔀 Max Revisions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-20688, 9584]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-research:3003/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: 'ingest_and_embed',\n  arguments: {\n    text: $json.draft_content,\n    metadata: {\n      source: 'wpi-content-factory',\n      title: $json.blueprint.title + ' - Kapitel ' + $json.current_chapter.number,\n      document_type: 'book_chapter',\n      domain_id: $json.blueprint.iso_alignment?.domain_id || null,\n      topic_id: $json.current_chapter.syllabus_mapping?.[0] || null,\n      tags: ['generated', 'book-chapter', $json.book_id],\n      language: 'de'\n    },\n    output_format: 'json'\n  }\n}) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "mcp-ingest-chapter",
      "name": "💾 MCP: Store in Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20688, 9272],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-auth",
          "name": "MCP Auth Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Mark chapter as stored and continue to loop\nconst prevData = $('📊 Parse Editor Result').first().json;\n\n// Try to get ingestion result\nlet ingestionResult = null;\ntry {\n  const ingestResp = $('💾 MCP: Store in Knowledge Base').first().json;\n  if (ingestResp.body?.content?.[0]?.text) {\n    ingestionResult = JSON.parse(ingestResp.body.content[0].text);\n  }\n} catch (e) {\n  console.log('Ingestion result not available:', e.message);\n}\n\nreturn {\n  json: {\n    ...prevData,\n    stored_in_kb: !!ingestionResult,\n    kb_document_id: ingestionResult?.document_id || null\n  }\n};"
      },
      "id": "finalize-chapter",
      "name": "✅ Finalize Chapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-20464, 9272]
    },
    {
      "parameters": {
        "jsCode": "// Collect all completed chapters\nconst chapters = $input.all().map(item => ({\n  chapter_number: item.json.current_chapter.number,\n  title: item.json.current_chapter.title,\n  content: item.json.draft_content,\n  exam_questions: item.json.exam_questions || [],\n  score: item.json.editor_score,\n  iso_compliant: item.json.iso_compliant,\n  kb_document_id: item.json.kb_document_id\n}));\n\n// Sort by chapter number\nchapters.sort((a, b) => a.chapter_number - b.chapter_number);\n\n// Create final book markdown\nconst blueprint = $input.first().json.blueprint;\nlet bookMarkdown = '# ' + blueprint.title + '\\n\\n';\nbookMarkdown += '*' + (blueprint.subtitle || '') + '*\\n\\n';\n\nif (blueprint.iso_alignment) {\n  bookMarkdown += '**ISO 17024 Domain:** ' + blueprint.iso_alignment.domain_id + '\\n\\n';\n}\n\nbookMarkdown += '---\\n\\n';\n\nchapters.forEach(ch => {\n  bookMarkdown += ch.content + '\\n\\n---\\n\\n';\n});\n\n// Collect all exam questions\nconst allQuestions = chapters.flatMap(ch => \n  (ch.exam_questions || []).map(q => ({\n    ...q,\n    chapter: ch.chapter_number\n  }))\n);\n\nreturn {\n  json: {\n    book_id: $input.first().json.book_id,\n    title: blueprint.title,\n    iso_alignment: blueprint.iso_alignment,\n    final_markdown: bookMarkdown,\n    exam_questions: allQuestions,\n    chapter_scores: chapters.map(ch => ({ \n      chapter: ch.chapter_number, \n      score: ch.score,\n      iso_compliant: ch.iso_compliant \n    })),\n    average_score: chapters.reduce((sum, ch) => sum + ch.score, 0) / chapters.length,\n    kb_document_ids: chapters.map(ch => ch.kb_document_id).filter(Boolean),\n    completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "d752e40f-10fb-4402-aa99-7cd9848fa5d0",
      "name": "📚 Compile Book",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-23152, 9656]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_markdown",
        "options": {
          "fileName": "book.md",
          "mimeType": "text/markdown"
        }
      },
      "id": "9caa16f8-d383-4b33-92f1-fb931b57619e",
      "name": "📄 Convert Markdown",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [-22928, 9464]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "exam_questions.json"
        }
      },
      "id": "c90499fb-3c61-45b7-98b1-fa22117ecf1d",
      "name": "📄 Convert Questions",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [-22928, 9656]
    },
    {
      "parameters": {
        "fromEmail": "content-factory@wpi.org",
        "toEmail": "hennadii.shvedko@gmail.com",
        "subject": "=✅ Book Complete: {{ $json.title }}",
        "html": "=<h1>📚 Buch fertiggestellt!</h1>\n<p><strong>{{ $json.title }}</strong></p>\n{{ $json.iso_alignment ? '<p><strong>ISO 17024 Domain:</strong> ' + $json.iso_alignment.domain_id + '</p>' : '' }}\n<p>Durchschnittlicher Quality Score: <strong>{{ Math.round($json.average_score) }}/100</strong></p>\n<p>Generierte Prüfungsfragen: <strong>{{ $json.exam_questions.length }}</strong></p>\n<p>In Knowledge Base gespeichert: <strong>{{ $json.kb_document_ids.length }} Kapitel</strong></p>\n<h3>Chapter Scores:</h3>\n<ul>\n{{ $json.chapter_scores.map(cs => '<li>Kapitel ' + cs.chapter + ': ' + cs.score + '/100 ' + (cs.iso_compliant ? '✅ ISO' : '⚠️') + '</li>').join('') }}\n</ul>\n<p>Die Dateien sind als Anhang beigefügt.</p>",
        "options": {
          "attachments": "data"
        }
      },
      "id": "c90cab4a-da6a-4f34-aaeb-3f662625d37d",
      "name": "📧 Notify Completion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-22928, 9848],
      "webhookId": "2afa6ee1-a99c-45d9-ac83-9dd90a76f020",
      "credentials": {
        "smtp": {
          "id": "OjlJbmPfeYsQ6qw1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## WPI AI Content Factory - MCP Integrated\n\n### MCP Server Integration\n- **mcp-standards** (Port 3002): Syllabus & ISO 17024\n- **mcp-research** (Port 3003): Qdrant Vector DB\n- **mcp-coder** (Port 3004): Code Validation & Examples\n\n### Workflow Übersicht\n1. **📥 Input**: Product Definition + Syllabus Domain\n2. **📚 MCP**: Get Syllabus & Search KB\n3. **🏗️ Architect**: Erstellt ISO-aligned Blueprint\n4. **⏸️ Human Approval**: Experte prüft Blueprint\n5. **🔁 Chapter Loop**: Für jedes Kapitel:\n   - 🔍 MCP Research: Knowledge Base suchen\n   - 📚 MCP Standards: Learning Objectives holen\n   - ✍️ Writer: Content erstellen\n   - 💻 Coder: Code generieren\n   - 🔬 MCP Coder: Code validieren (ES6+)\n   - 🔄 Self-Correction Loop (max 2 retries)\n   - 📋 MCP ISO Check: Compliance prüfen\n   - 🔍 Editor: Quality Check + Exam Fragen\n   - 💾 MCP Ingest: In KB speichern\n6. **📚 Output**: Fertiges Buch + Exam Questions\n\n### Konfiguration\n- OpenAI API Key in Credentials\n- MCP Auth Token in httpHeaderAuth\n- Email-Settings anpassen",
        "height": 580,
        "width": 400
      },
      "id": "b553be44-7c8d-4966-b847-7abd83ceef69",
      "name": "📝 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-25856, 9504]
    }
  ],
  "pinData": {},
  "connections": {
    "📥 Book Request Form": {
      "main": [[{ "node": "🔧 Initialize BookState", "type": "main", "index": 0 }]]
    },
    "🔧 Initialize BookState": {
      "main": [[
        { "node": "📚 MCP: Get Syllabus Section", "type": "main", "index": 0 },
        { "node": "🔍 MCP: Search Knowledge Base", "type": "main", "index": 0 }
      ]]
    },
    "📚 MCP: Get Syllabus Section": {
      "main": [[{ "node": "🔀 Merge MCP Context", "type": "main", "index": 0 }]]
    },
    "🔍 MCP: Search Knowledge Base": {
      "main": [[{ "node": "🔀 Merge MCP Context", "type": "main", "index": 0 }]]
    },
    "🔀 Merge MCP Context": {
      "main": [[{ "node": "🏗️ Architect Agent", "type": "main", "index": 0 }]]
    },
    "🏗️ Architect Agent": {
      "main": [[{ "node": "📋 Parse Blueprint", "type": "main", "index": 0 }]]
    },
    "📋 Parse Blueprint": {
      "main": [[{ "node": "📧 Send for Approval", "type": "main", "index": 0 }]]
    },
    "📧 Send for Approval": {
      "main": [[{ "node": "⏸️ Wait for Approval", "type": "main", "index": 0 }]]
    },
    "⏸️ Wait for Approval": {
      "main": [[{ "node": "🔀 Approved?", "type": "main", "index": 0 }]]
    },
    "🔀 Approved?": {
      "main": [
        [{ "node": "📑 Prepare Chapters", "type": "main", "index": 0 }],
        [{ "node": "🏗️ Architect Agent", "type": "main", "index": 0 }]
      ]
    },
    "📑 Prepare Chapters": {
      "main": [[{ "node": "🔁 Chapter Loop", "type": "main", "index": 0 }]]
    },
    "🔁 Chapter Loop": {
      "main": [
        [{ "node": "📚 Compile Book", "type": "main", "index": 0 }],
        [
          { "node": "🔍 MCP: Chapter Research", "type": "main", "index": 0 },
          { "node": "📚 MCP: Get Chapter LOs", "type": "main", "index": 0 }
        ]
      ]
    },
    "🔍 MCP: Chapter Research": {
      "main": [[{ "node": "💾 Merge Chapter Context", "type": "main", "index": 0 }]]
    },
    "📚 MCP: Get Chapter LOs": {
      "main": [[{ "node": "💾 Merge Chapter Context", "type": "main", "index": 0 }]]
    },
    "💾 Merge Chapter Context": {
      "main": [[{ "node": "✍️ Writer Agent", "type": "main", "index": 0 }]]
    },
    "✍️ Writer Agent": {
      "main": [[{ "node": "📝 Extract Code Requests", "type": "main", "index": 0 }]]
    },
    "📝 Extract Code Requests": {
      "main": [[{ "node": "🔀 Code Needed?", "type": "main", "index": 0 }]]
    },
    "🔀 Code Needed?": {
      "main": [
        [{ "node": "💻 Coder Agent", "type": "main", "index": 0 }],
        [{ "node": "⏭️ Skip Code", "type": "main", "index": 0 }]
      ]
    },
    "💻 Coder Agent": {
      "main": [[{ "node": "🔗 Merge Code", "type": "main", "index": 0 }]]
    },
    "🔗 Merge Code": {
      "main": [[{ "node": "🔬 MCP: Validate Code", "type": "main", "index": 0 }]]
    },
    "🔬 MCP: Validate Code": {
      "main": [[{ "node": "📊 Parse Code Validation", "type": "main", "index": 0 }]]
    },
    "📊 Parse Code Validation": {
      "main": [[{ "node": "🔀 Code Valid?", "type": "main", "index": 0 }]]
    },
    "🔀 Code Valid?": {
      "main": [
        [{ "node": "📋 MCP: ISO Compliance Check", "type": "main", "index": 0 }],
        [{ "node": "🔀 Code Retry?", "type": "main", "index": 0 }]
      ]
    },
    "🔀 Code Retry?": {
      "main": [
        [{ "node": "🔄 Coder Self-Correct", "type": "main", "index": 0 }],
        [{ "node": "⏭️ Skip Validation", "type": "main", "index": 0 }]
      ]
    },
    "🔄 Coder Self-Correct": {
      "main": [[{ "node": "🔗 Merge Corrected Code", "type": "main", "index": 0 }]]
    },
    "🔗 Merge Corrected Code": {
      "main": [[{ "node": "🔬 MCP: Validate Code", "type": "main", "index": 0 }]]
    },
    "⏭️ Skip Validation": {
      "main": [[{ "node": "📋 MCP: ISO Compliance Check", "type": "main", "index": 0 }]]
    },
    "⏭️ Skip Code": {
      "main": [[{ "node": "📋 MCP: ISO Compliance Check", "type": "main", "index": 0 }]]
    },
    "📋 MCP: ISO Compliance Check": {
      "main": [[{ "node": "🔍 Editor Agent (QA)", "type": "main", "index": 0 }]]
    },
    "🔍 Editor Agent (QA)": {
      "main": [[{ "node": "📊 Parse Editor Result", "type": "main", "index": 0 }]]
    },
    "📊 Parse Editor Result": {
      "main": [[{ "node": "🔀 Quality OK?", "type": "main", "index": 0 }]]
    },
    "🔀 Quality OK?": {
      "main": [
        [{ "node": "💾 MCP: Store in Knowledge Base", "type": "main", "index": 0 }],
        [{ "node": "🔀 Max Revisions?", "type": "main", "index": 0 }]
      ]
    },
    "💾 MCP: Store in Knowledge Base": {
      "main": [[{ "node": "✅ Finalize Chapter", "type": "main", "index": 0 }]]
    },
    "✅ Finalize Chapter": {
      "main": [[{ "node": "🔁 Chapter Loop", "type": "main", "index": 0 }]]
    },
    "🔀 Max Revisions?": {
      "main": [
        [{ "node": "✍️ Writer Agent", "type": "main", "index": 0 }],
        [{ "node": "🔁 Chapter Loop", "type": "main", "index": 0 }]
      ]
    },
    "📚 Compile Book": {
      "main": [[
        { "node": "📄 Convert Markdown", "type": "main", "index": 0 },
        { "node": "📄 Convert Questions", "type": "main", "index": 0 }
      ]]
    },
    "📄 Convert Markdown": {
      "main": [[{ "node": "📧 Notify Completion", "type": "main", "index": 0 }]]
    },
    "📄 Convert Questions": {
      "main": [[{ "node": "📧 Notify Completion", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "mcp-integrated-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b68c468f2753a5e21ae721b564973cd5aea893d803a833777daaeebe7bcdeb1b"
  },
  "id": "JyLMBG9nMV995HBw",
  "tags": [
    {
      "updatedAt": "2026-01-16T14:23:01.367Z",
      "createdAt": "2026-01-16T14:23:01.367Z",
      "id": "DYdRGNhTBTmphdcj",
      "name": "PoC"
    },
    {
      "updatedAt": "2026-01-16T14:23:01.422Z",
      "createdAt": "2026-01-16T14:23:01.422Z",
      "id": "RyqQ0gpkTnVL0fNU",
      "name": "AI"
    },
    {
      "updatedAt": "2026-01-16T14:23:01.430Z",
      "createdAt": "2026-01-16T14:23:01.430Z",
      "id": "VS8zmwloWJRDKGyi",
      "name": "Content Factory"
    },
    {
      "updatedAt": "2026-01-16T14:23:01.440Z",
      "createdAt": "2026-01-16T14:23:01.440Z",
      "id": "tEbTp0XPKIb0akiB",
      "name": "WPI"
    },
    {
      "id": "mcp-integrated",
      "name": "MCP-Integrated"
    }
  ]
}
